.search {
  margin-top: 5vh;
  height: 20vh;
  .search__box {
    width: 40%;
    min-width: 300px;
    .search__input,
    .search__button {
      border-radius: 60px;
    }

    .search__input_label {
      color: #757575;
      font-size: 0.9rem;
      padding-left: 30px;
    }
    .search__button {
      background-color: var(--primary-color);
      color: var(--tertiary-text-color);
      width: 15%;
      min-width: 50px;
      display: flex;
      justify-content: center;
    }
  }
}
